header {
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 2rem;
   height: 100%;
 }

 .header--text {
     font-family: $playfair;
     font-weight: bolder;
     font-size: $xx-large;
     font-style: italic;
     padding-top: 8rem;
 }

 .fa-angle-double-down {
     padding-top: 10rem;
     font-size: 3rem;
 }